<app-header></app-header>
<div id='content'>
  <h1>About the League</h1>
  <p>The Joel Barlow High School Bowling Team competes in the Connecticut Interscholastic Bowling League (CIBL) at Nutmeg Bowl.</p>
  <p><a routerLink='/about'>Return to information hub.</a></p>
  
  <hr>
  <h3>Nutmeg Bowl</h3>
  <table>
    <tr>
      <th>Address</th>
      <td>802 Villa Avenue, Fairfield, CT 06825</td>
    </tr>
    <tr>
      <th>Website</th>
      <td><a href='http://nutmegbowl.com/' target='_blank'>nutmegbowl.com</a></td>
    </tr>
  </table>
  
  <hr>
  <h3>Directions to Nutmeg Bowl</h3>
  <p>Nutmeg Bowl is right down the road from Barlow. You may either take Black Rock Turnpike (Route 58) or Sport Hill Road (Route 59) in the southward direction. Both routes intersect with Villa Avenue. Take a right into the Stop&amp;Shop plaza near the intersection of Villa Avenue, Black Rock Turnpike, and Kings Highway East to arrive at Nutmeg Bowl.</p>
  <img src='assets/nutmegDirections.png'>
  
  <p><a routerLink='/about'>Return to information hub.</a></p>
</div>