@import '../imports';

#header {
  background-color: $blue500;
  color: white;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 3px 3px $bluegrey300;
}
#title {
  font-size: 2em;
  margin: 0;
  padding: 1em;
  font-weight: normal;
}
#nav {
  background-color: $blue300;
  font-size: 1.5em;
  
  .navLink {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    background-color: $blue300;
  }
}