<h1>About the Team</h1>
<p><a routerLink='/about'>Return to information hub.</a></p>

<hr>
<h3>Contact the Team</h3>
<p>For specific inquiries not covered on these information pages, ask away in the Facebook group chat: <a href='https://www.facebook.com/groups/barlowbowling2018/' target='_blank'>fb.co/groups/barlowbowling2018</a>. The group is open to any current and prospective members of the Barlow Bowling Team.</p>

<hr>
<h3>Contact the Webmaster</h3>
<p>For site-specific inquiries or gallery submissions, you may email Jon the Lambda Ninja webmaster at <a href='mailto:jonathanlamdev@gmail.com' target='_blank'>jonathanlamdev@gmail.com</a>. The source for this project is available at <a href='https://github.com/jlam55555/barlow-bowling' target='_blank'>github.com/jlam55555/barlow-bowling</a>. This website is an Angular 5 project hosted by GitHub Pages.</p>

<p><a routerLink='/about'>Return to information hub.</a></p>
