<h1>About the Team</h1>
<p>The Joel Barlow High School Bowling Team, officially the Bowling Club, is a high school sports team that competes in the <a routerLink='/about/league'>CIBL league at Nutmeg Bowl</a>. Currently the team places second place in the league.</p>
<p><a routerLink='/about'>Return to information hub.</a></p>

<hr>
<h3>Team Details</h3>
<table>
  <tr>
    <th>What? Why?</th>
    <td>Bowling! It's fun!</td>
  </tr>
  <tr>
    <th>Who?</th>
    <td>Anyone is eligible to join the team. No prior experience is required.</td>
  </tr>
  <tr>
    <th>When? (dates)</th>
    <td>Tuesdays (matches) and Thursdays (practices) beginning 11/28/2017 and continuing for 12 weeks. Bowling is cancelled on holidays and may be cancelled for inclement weather. Check the <a routerLink='/about/contact'>Facebook group</a> for the latest updates.</td>
  </tr>
  <tr>
    <th>When? (times)</th>
    <td>Bowlers meet at the bowling alley by 2:50p.m. on bowling days. We do not have bus transportation, so we carpool. Every bowler is responsible for contacting captains <strong>in advance</strong> to arrange carpooling. Typically carpoolers meet right after school in the lobby.</td>
  </tr>
  <tr>
    <th>Where?</th>
    <td><a routerLink='/about/league'>Nutmeg Bowl</a></td>
  </tr>
  <tr>
    <th>How much? ($)</th>
    <td>The league participation fee is $6 for every practice. This includes all of the necessary costs of games and shoes.. You must give this fee (preferably in cash) to Mr. Tom Smith during the practices to participate. The match participation fee is paid for by the school and includes the same benefits. Bowlers are also encouraged to purchase the Barlow Bowling team shirt.</td>
  </tr>
</table>

<hr>
<h3>Team Rules</h3>
<ul>
  <li>Beginning the third week, bowlers may not participate in matches if they have not attended at least two of the past three practices, excluding injuries and captain-excused absences.</li>
  <li>Bowlers must adhere to alley rules, safety rules, and common etiquette. This includes, but is not limited to, sportsman-like conduct and bowling etiquette. Captains and coaches can take necessary action to remove a bowler from play if necessary.</li>
  <li>Varsity will be determined by the rules below in the "Varsity Rules" section.</li>
  <li>Failure to pay league participation fees will result in a player not being able to participate, if not repaid as soon as possible.</li>
</ul>

<hr>
<h3>Varsity Rules</h3>
<p>Varsity positions are calculated objectively by an algorithm (which is still in development, so hang tight!).</p>
<ol>
  <li>Varsity "fitness" is calculated objectively by the following formula (higher score is better):<br><img src='/assets/varsityCalculation.png'></li>
  <li>Bowlers may be exempt from Varsity given an injury or a captain-excused absence. Failure to do so may result in a one-match Varsity ban.</li>
  <li>Captains have the executive authority to adjust the Varsity lineup, with a reasonable justification. Captains are not obliged to listen to player requests to join or leave Varsity.</li>
</ol>

<hr>
<h3>Captain Responsibilities</h3>
<p>Information for future captains: captains should make sure to fulfill all of the following responsibilities.</p>
<ul>
  <li>Communicate with advisors, coaches, and school administration (as necessary).</li>
  <li>Promptly inform the team of updates of any changes to the team or scheduling.</li>
  <li>Order and collect money for new uniforms.</li>
  <li>Organize advertising and recruitment efforts.</li>
  <li>Arrange transportation to make sure all bowlers have a method to get to the alley and back home, safely and on time.</li>
  <li>Arrange end-of-year ceremony and Varsity letters.</li>
  <li>Update the website and Facebook group as necessary to reflect changes to the team and to update scores.</li>
  <li>Determine Varsity for every meet.</li>
  <li>Keep attendance of the team at meets and practices.</li>
  <li>Collect score sheets to update the website.</li>
  <li>Keep track the members that are eligible for Varsity, and be able to change the Varsity lineup for justified reasons.</li>
  <li>Choose captains for the next year. The captains for the next year may be elected by a vote, but incumbent captains have the final say.</li>
</ul>

<hr>
<h3>Team Leaders</h3>
<p><a routerLink='/bowlers/Jonathan Lam'>Jonathan Lam (seniors)</a> and <a routerLink='/bowlers/Noah Sobel'>Noah Sobel (senior)</a> are the captains for the 2017-2018 season. USBC Coach Mr. Tim West is the coach, and Mr. Tom Smith is the school advisor and coach. Contact them in person or via the <a routerLink='/about/contact'>Facebook group</a>.</p>

<p><a routerLink='/about'>Return to information hub.</a></p>
