@import '../imports';

/* mobile styles */
#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  ::ng-deep #header {
    flex-grow: 0;
  }
  
  #content {
    padding: 0;
    display: flex;
    overflow: hidden;
    flex-direction: horizontal;

    #bowlerList {
      list-style: none;
      padding: 0;
      margin: 0;
      flex: 0 0 100%;
      overflow-y: scroll;
      display: relative;
      z-index: 5;
      box-shadow: 0 0 3px 3px $bluegrey300;
      transition: flex-basis 0.5s, box-shadow 0.5s;
      
      &.closed {
        flex-basis: 0 !important;
        box-shadow: 0 0 0 0 transparent;
        
        #closeButton {
          left: 0;
        }
      }

      #closeButton {
        background-color: white;
        position: absolute;
        left: 20em;
        top: 12em;
        z-index: 6;
        transition: left 0.5s;
        border-top: 1px solid $bluegrey300;
        border-right: 1px solid $bluegrey300;
        border-bottom: 1px solid $bluegrey300;
        padding: 0.5em;
        outline: none;
      }
      
      li {
        outline: none;
        width: 100%;
        padding: 1em;
        cursor: pointer;
        border-bottom: 1px solid $blue100;
        white-space: nowrap;
        
        &.selected {
          background-color: $blue100;
        }
      }
    }
    
    .bowlerDetails {
      padding: 1em 1em 1em 2em;
      flex: 1 1 0;
      
      .openMenu {
        font-size: smaller;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 2em;
      }
      
      #scoreTable {
        width: 100%;
        border-collapse: collapse;
        text-align: center;

        tbody {
          tr {
            &:nth-child(2n + 1) {
              background-color: $blue000;
            }
          }
        }
      } 
    }
  }
}
@media screen and (min-width: 1024px) {
  #bowlerList {
    flex: 0 0 20em !important;
  }
}