<div id="container">
  <app-header></app-header>
  <div id="content">
    <ul id="bowlerList" [ngClass]='{"closed": closed}'>
      <button id='closeButton' (click)='toggleClosed()' class='desktop'>{{closed?'>':'X'}}</button>
      <li
        *ngFor='let bowler of bowlers'
        routerLink='/bowlers/{{bowler.name}}'
        [ngClass]='{"selected": selectedBowler !== undefined && bowler.name === selectedBowler.name}'
        class='noSelect'
        (click)='closeIfMobile()'>
        {{bowler.name}}
      </li>
    </ul>
    <div *ngIf='selectedBowler' class='bowlerDetails'>
      <h1>{{selectedBowler.name}}</h1>
      <p>Grade: {{selectedBowler.grade}}</p>
      <table id="scoreTable">
        <thead>
          <tr>
            <th>Date</th>
            <th>Game 1</th>
            <th>Game 2</th>
            <th>Game 3</th>
            <th>Average</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let date of selectedBowler.dates'>
            <td>{{date}}</td>
            <td *ngFor='let score of selectedBowler.scores[date]'>{{score}}</td>
            <td>{{selectedBowler.scores[date] | average:2}}</td>
          </tr>
        </tbody>
      </table>
      <div>
<!--        <canvas #scoresChart></canvas>-->
      </div>
      <div class='openMenu mobile' (click)='toggleClosed()'>Return to list of bowlers.</div>
    </div>
    <div *ngIf='!selectedBowler' class='bowlerDetails'>
      Click on a bowler on the left to see their statistics.
      <div class='openMenu mobile' (click)='toggleClosed()'>Return to list of bowlers.</div>
    </div>
  </div>
</div>