<div id="content">
  <app-header></app-header>
  <div id='selectedImage'>
    <div id='selectedImageDescription'>{{selectedImage.description}}</div>
    <div id='imageDisplay'>
      <div id='lastImage' class='imageControls noSelect' (click)='changeImage(selectedImage)'>Previous</div>
      <div id='nextImage' class='imageControls noSelect' (click)='changeImage(selectedImage, false)'>Next</div>
      <img src='assets/images/{{selectedImage.path}}'>
    </div>
  </div>
  <div id='imageList'>
    <div
      class='imageListImage noSelect'
      *ngFor='let image of images'
      (click)='selectImage(image)'
      [style.backgroundImage]='"url(assets/images/" + image.path + ")"'
      [title]='image.description'></div>
  </div>
</div>  