@import '../imports';

#content {
  padding: 0;
}

.galleryImageContainer {
  padding: 2em 1em;

  &:nth-child(2n) {
    background-color: $blue100;
  }

  .galleryImage {
    max-height: 15em;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  .galleryDescription {
    text-align: center;
    padding: 1em 0;
  }
}
